/frontend
/backend
node_modules
dist
logs
flow.md
flutterPayment.md
.env
.env.*
.git
.gitignore
.npmrc
.eslintrc*
eslint.config.*
vitest.config.ts
vitest-mock-extended
ts-node-dev
GENERATE.md
README.md
package-lock.json
yarn.lock
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
